.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.idea
.sass-cache
nbproject
/node_modules/
/public/node_modules
/public/css/
/*.log
/vendor/
/.env
/.env.selenium
/_ide_helper.php
/_ide_helper_models.php
.phpstorm.meta.php
.editorconfig
/storage/thumbs/*
/storage/coverage/
/storage/jsDoc/
/tests/Protractor/protractorEnvironment.js
.devilbox
/tmp
/tests/Protractor/tmp/*
**/.phpunit.result.cache
.php_cs.cache
.php_cs
/public/app/dist/
.logs
